* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ea6a6a;
    --secondary-color: #dadada;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* body */
body,
html {
    scroll-behavior: smooth;
    text-align: center;
    cursor: context-menu;
}

::-webkit-scrollbar {
    width: 11px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb  {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-button {
    background-color: var(--secondary-color);
}

/* tags */
a {
    text-decoration: none;
    color: inherit;
}

i {
    display: inline-block;
    text-transform: uppercase;
    font: normal lighter 42px sans-serif;
    color: var(--primary-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* container */
.container {
    width: 100%;
    padding: 50px 5%;
    float: left;
}

/* global class */
.title {
    font-family: sans-serif;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 12px 24px;
    border: unset;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.btn:hover {
    color: black;
}

.highlight {
    color: red;
}

/* HEADER */
#header {
    width: 100%;
    height: 100vh;
    background: url(../Image/City-01.jpg) no-repeat center top;
    float: left;
    background-size: cover;
    text-transform: uppercase;
    color: white;
    position: relative;
}

#header .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1.title {
    font-size: 46px;
    margin: 35px 0 30px 0;
}

#header .btn {
    margin-top: 25px;
    font-family: sans-serif;
}

/* section-01 */
.section-01 h2.title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: serif;
}

.article {
    width: 31.3%;
    margin: 0 1%;
    float: left;
}

.article-title {
    margin-top: 10px;
    font-size: 23px;
}

.article-body {
    margin-top: 15px;
    text-align: left;
}

/* section-02 */
.section-02 {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    float: left;
}

.section-02 .container > :nth-child(n) {
    width: 31.3%;
    margin: 0 1%;
    text-align: left;
    float: left;
}

.section-02 .btn {
    border: 2px solid #fff;
    border-radius: 0;
    padding: 10px 20px;
}

.section-02 .title {
    margin-bottom: 8px;
    font-family: serif;
}

/* section-03 */
.section-03 {
    width: 100%;
    background-color: var(--secondary-color);
    float: left;
}

.box-01,
.box-02 {
    margin: 0 1%;
    float: left;
    height: 180px;
}

.box-01 {
    width: 54%;
    padding: 30px 25px;
    background-color: white;
    text-align-last: left;
}

.box-01 p {
    margin: 15px 0;
}

.box-02 {
    width: 42%;
    padding: 60px 25px;
    background-color: var(--primary-color);
    font-size: 25px;
}

.child-box {
    width: calc(100% / 4);
    float: left;
    text-transform: capitalize;
    color: white;
}

/* section-04 */
.section-04 .title {
    text-transform: uppercase;
}

.section-04 figure {
    width: 31.3%;
    margin: 0 1%;
    margin-top: 50px;
    float: left;
    text-align: left;
}

.section-04 .parent-img {
    height: 200px;
    border: 0.15vw solid red;
    cursor: pointer;
    overflow: hidden;
}

.section-04 img {
    transition-duration: 0.5s;
}

.section-04 img:hover {
    transform: scale(1.1);
}

figcaption > :nth-child(n) {
    margin: 15px 0;
}

figcaption .title {
    font-family: serif;
}

/* FOOTER */
#footer {
    width: 100%;
    padding: 25px 30px;
    background-color: #353535;
    float: left;
    font: lighter 20px sans-serif;
    color: white;
}

/* scroll up page */
.scroll-up-page {
    width: 50px;
    height: 50px;
    padding-top: 1.5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 98;
    transform: rotate(-90deg);
    font-size: 22px;
    line-height: 50px;
    color: #fff;
    transition-duration: 0.5s;
}

.scroll-up-page:hover {
    background-color: var(--primary-color);
}

/* Responsive */
@media (max-width:1024px){
    .box-02 {
        padding: 15px 25px;
    }
    
    .child-box {
        width: 50%;
        padding: 8px 0;
    }
}

@media (max-width:768px){
    h1.title {
        font-size: 40px;
        margin: 30px 0 25px 0;
    }

    .article {
        width: 100%;
        margin: 15px 0;
    }

    .article-body {
        text-align: center;
    }

    .section-02 .container > :nth-child(n) {
        width: 48%;
        text-align: center;
    }

    .section-02 .container > :last-child {
        width: 100%;
        margin-top: 30px;
    }

    .section-04 figure {
        width: 48%;
        margin-top: 30px;
    }
}

@media (max-width:600px){
    .container {
        padding: 35px 5%;
    }

    .title {
        font-size: 20px;
    }

    h1.title {
        font-size: 35px;
    }

    .section-02 .container > :nth-child(n) {
        width: 100%;
        margin: 15px 0;
    }

    .box-01,
    .box-02 {
        width: 100%;
        margin: 10px 0;
    }

    .section-04 figure {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }

    .scroll-up-page {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    #footer {
        font-size: 17px;
    }
}